<%- include('includes/admin-head'); -%>

<!-- Add the class .fixed to <body> for a fixed layout on large resolutions (min: 1200px) -->
<!-- <body class="fixed"> -->

<body>
    <div class="loader"></div>
    <!-- Page Container -->
    <div id="page-container">
        <!-- Header -->
        <!-- Add the class .navbar-fixed-top or .navbar-fixed-bottom for a fixed header on top or bottom respectively -->
        <!-- <header class="navbar navbar-inverse navbar-fixed-top"> -->
        <%- include('includes/admin-header'); -%>

        <!-- Inner Container -->
        <div id="inner-container">

            <%- include('includes/admin-side'); -%>
            <!-- Page Content -->
            <div id="page-content">
                <!-- Navigation info -->
                <ul id="nav-info" class="clearfix">
                    <li><a href="/admin"><i class="fa fa-home"></i></a></li>
                    <li><a href="javascript:void(0)">Sipariş İşlemleri</a></li>
                    <li class="active"><a href="">Sipariş Listesi</a></li>
                </ul>
                <!-- END Navigation info -->

                <!-- Datatables -->
                <h3 class="page-header page-header-top">Sipariş Listesi</h3>

                <table id="example-datatables" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="cell-small"></th>
                            <th><i class="fa fa-barcode"></i> Sipariş ID</th>
                            <th><i class="fa fa-user"></i> Alıcı</th>
                            <th><i class="fa fa-user"></i> Paket No </th>
                            <th><i class="fa fa-user"></i> Sipariş Durumu</th>
                            <th><i class="fa fa-user"></i> Kargo Takip</th>
                            <th><i class="fa fa-bolt"></i> Durum</th>
                            <th><i class="fa fa-bolt"></i> Fatura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let devProducts of questions) { %> 
                        <tr>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="/admin/products/<%= devProducts._id %>" data-toggle="tooltip"
                                        title="Düzenle" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Sil"
                                        class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                            <td><%= devProducts.orderNumber %></td>
                            <td><%= devProducts.shipmentAddress.fullName %></td>
                            <td><%= devProducts.id %></td>
                            <% if (devProducts.shipmentPackageStatus == 'Picking') { %>
                            <td>Kargo Aşamasında</td>
                            <%} else { %>
                            <td>Kargolandı </td>
                            <% } %>
                            <td> 
                                <img src="/admin/img/mng.png" width="150" height="33" alt="">
                                <br>
                                <%= devProducts.cargoTrackingNumber %> 
                            </td>
                            <% if (devProducts.shipmentPackageStatus == 'Picking') { %>
                                <td><a class="btn btn-success"><i class="fa fa-shipping"></i>Sipariş İşleme Alınmıştır</a></td>
                                <%} else { %>
                                <td><a target="_blank" class="btn btn-danger" href="<%= devProducts.cargoTrackingLink %>">Kargo Takip</a></td>
                                <% } %>
                            <td class="text-center">
                                Satış Tutarı : <%= devProducts.grossAmount %> TL
                                <br>
                                <a target="_blank" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal<%= devProducts.id %>">Fatura Bilgilerini Görüntüle</a>
                            </td>
                        </tr>
                        <!-- Invoice Modal -->
                        <div class="modal fade" id="exampleModal<%= devProducts.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Teslimat & Fatura Adresi</h4>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Teslimat Adresi:
                                    <br>
                                    Ad Soyad: <%= devProducts.shipmentAddress.fullName %>
                                    <br>
                                    Adres: <%= devProducts.shipmentAddress.fullAddress %>
                                    <hr>
                                    Fatura Adresi:
                                    <br>
                                    <%= devProducts.invoiceAddress.fullName %>
                                    <br>
                                    <%= devProducts.invoiceAddress.fullAddress %>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                                <button type="button" class="btn btn-primary" onclick="js:window.print()" ><i class="fa fa-print"></i> Yazdır</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <% } %>
                    </tbody>
                </table>
                <!-- END Datatables -->

            </div>
            <!-- END Page Content -->

            <!-- Footer -->
            <footer>
                <span id="year-copy"></span> &copy; <strong><a href="http://goo.gl/9QhXQ">uAdmin 2.1</a></strong> -
                Crafted with <i class="fa fa-heart text-danger"></i> by <strong><a href="http://goo.gl/vNS3I"
                        target="_blank">pixelcave</a></strong>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Inner Container -->
    </div>
    <!-- END Page Container -->

    <!-- Scroll to top link, check main.js - scrollToTop() -->
    <a href="javascript:void(0)" id="to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- User Modal Settings, appears when clicking on 'User Settings' link found on user dropdown menu (header, top right) -->
    <%- include('includes/user-modal'); -%>

    <%- include('includes/admin-script'); -%>

</body>

</html>