<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
              
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="shop-layout shop-layout--sidebar--start">
            <div class="shop-layout__sidebar">
                <div class="block block-sidebar">
                    <div class="block-sidebar__item">
                        <div class="widget-categories widget-categories--location--shop widget">
                            <h4 class="widget__title">Kategoriler</h4>
                            <ul class="widget-categories__list" data-collapse data-collapse-opened-class="widget-categories__item--open">
                                <% for (let devCategories of categories) { %>
                                <li class="widget-categories__item" data-collapse-item> 
                                    <div class="widget-categories__row">
                                        <a href="/<%= devCategories.name %>">
                                            <svg class="widget-categories__arrow" width="6px" height="9px">
                                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9"></use>
                                            </svg>
                                           <%= devCategories.name %>
                                        </a>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                  <!--  lastest products -->
                <%- include('../includes/latest-products'); -%>
                <!-- lastest products / end -->
                </div>
            </div>

            <div class="shop-layout__content">
                <div class="block">
                    <div class="product product--layout--sidebar" data-layout="sidebar">
                        <div class="product__content">
                            <!-- .product__gallery -->
                            <div class="product__gallery">
                                <div class="product-gallery">
                                    <div class="product-gallery__featured">
                                        <button class="product-gallery__zoom">
                                            <svg width="24px" height="24px">
                                                <use xlink:href="/images/sprite.svg#zoom-in-24"></use>
                                            </svg>
                                        </button>
                                        <div class="owl-carousel" id="product-image">
                                            <div class="product-image product-image--location--gallery">
                                                <a href="<%= devProducts.picture1Path %>" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                                    <img class="product-image__img" src="<%= devProducts.picture1Path %>" alt="">
                                                </a>
                                            </div>
                                            <div class="product-image product-image--location--gallery">
                                                <a href="<%= devProducts.picture2Path %>" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                                    <img class="product-image__img" src="<%= devProducts.picture2Path %>" alt="">
                                                </a>
                                            </div>
                                            <div class="product-image product-image--location--gallery">
                                                <a href="<%= devProducts.picture3Path %>" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                                    <img class="product-image__img" src="<%= devProducts.picture3Path %>" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-gallery__carousel">
                                        <div class="owl-carousel" id="product-carousel">
                                            <a href="<%= devProducts.picture1Path %>" class="product-image product-gallery__carousel-item">
                                                <div class="product-image__body">
                                                    <img class="product-image__img product-gallery__carousel-image" src="<%= devProducts.picture1Path %>" alt="">
                                                </div>
                                            </a>
                                            <a href="<%= devProducts.picture2Path %>" class="product-image product-gallery__carousel-item">
                                                <div class="product-image__body">
                                                    <img class="product-image__img product-gallery__carousel-image" src="<%= devProducts.picture2Path %>" alt="">
                                                </div>
                                            </a>
                                            <a href="<%= devProducts.picture3Path %>" class="product-image product-gallery__carousel-item">
                                                <div class="product-image__body">
                                                    <img class="product-image__img product-gallery__carousel-image" src="<%= devProducts.picture3Path %>" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .product__gallery / end -->
                            <!-- .product__info -->
                            <div class="product__info">
                                <div class="product__wishlist-compare">
                                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="/images/sprite.svg#compare-16"></use>
                                        </svg>
                                    </button>
                                </div>
                                <h1 class="product__name"><%= devProducts.label %></h1>
                                <div class="product__rating">
                                    <div class="product__rating-stars">
                                        <div class="rating">
                                            <div class="rating__body">
                                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__rating-legend">
                                        <a href="">7 Değerlendirme</a><span></span><a href=""></a>
                                    </div>
                                </div>
                                <ul class="product__meta">
                                    <% if (devProducts.stockAmount >= '1') { %>
                                    <li class="product__meta-availability">Stok Durumu: 
                                        <span class="text-success">Stokta Var</span>
                                    </li>
                                    <%} else { %>
                                    <li class="product__meta-availability">Stok Durumu: 
                                         <span class="text-warning">Stokta Yok</span>
                                    </li>
                                    <% } %>
                                    <li>Marka: <a href=""><%= devProducts.brand %></a>
                                    </li>
                                    <li>SKU: <%= devProducts.barcode %></li>
                                    <li>Stok Kodu: <%= devProducts.stockCode %></li>
                                </ul>
                            </div>
                            <!-- .product__info / end -->
                            <!-- .product__sidebar -->
                            <div class="product__sidebar">
                                 <% if (devProducts.stockAmount >= '1') { %>
                                <div class="product__availability">
                                   <span class="text-success">Stokta Var</span>
                                </div>
                                <%} else { %>
                                <div class="product__availability">
                                    <span class="text-warning">Stokta Yok</span>
                                 </div>
                                 <% } %> 
                                <div class="product__prices">
                                    <%= devProducts.price3 %> TL
                                </div>
                                <!-- .product__options -->
                                <form class="product__options">
                                    <div class="form-group product__option">
                                        <label class="product__option-label">Renk</label>
                                        <div class="input-radio-color">
                                            <div class="input-radio-color__list">
                                                <% if (devProducts.color === 'Mavi') { %>
                                                    <label class="input-radio-color__item input-radio-color__item--white" style="color: rgb(0, 4, 252);" data-toggle="tooltip" title="Mavi">
                                                        <input type="radio" name="color">
                                                        <span></span>
                                                    </label>
                                                    <%} else { %>
                                                        <label class="input-radio-color__item input-radio-color__item--white" style="color: rgb(255, 255, 255);" data-toggle="tooltip" title="Beyaz">
                                                            <input type="radio" name="color">
                                                            <span></span>
                                                        </label>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (devProducts.price3 >= '99') { %>
                                    <div class="form-group product__option">
                                        <label class="product__option-label"></label>
                                        <img src="/images/kargobedava.png" alt="" srcset="">
                                    </div>
                                    <%} else { %>
                                        <div class="form-group product__option">
                                            <label class="product__option-label"></label>
                                            <img src="/images/24saattekargoda.png" alt="" srcset="">
                                        </div>
                                        <% } %>
                                    <div class="form-group product__option">
                                        <div class="product__actions">
                                            <div class="product__actions-item">
                                                <div class="input-number product__quantity">
                                                    <input id="product-quantity" class="input-number__input form-control form-control-lg" type="number" min="1" value="1">
                                                    <div class="input-number__add"></div>
                                                    <div class="input-number__sub"></div>
                                                </div>
                                            </div>
                                            <form action="/sepetim" method="POST">
                                                <div class="product__actions-item product__actions-item--addtocart">
                                                <input  type="hidden" value="<%= csrfToken %>" name="_csrf">
                                                <input  type="hidden" name="productId" value="<%= devProducts._id %>">    
                                                <button type="submit" class="btn btn-primary btn-lg">Sepete Ekle</button>
                                            </div>
                                            </form>
                                            <div class="product__actions-item product__actions-item--wishlist">
                                                <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Favoriye Ekle">
                                                    <svg width="16px" height="16px">
                                                        <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="product__actions-item product__actions-item--compare">
                                                <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Karşılaştır">
                                                    <svg width="16px" height="16px">
                                                        <use xlink:href="/images/sprite.svg#compare-16"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- .product__options / end -->
                            </div>
                            <!-- .product__end -->
                            <div class="product__footer">
                                <div class="product__tags tags">
                                    <div class="tags__list">
                                        <a href="">kaşık</a>
                                        <a href="">bıçak</a>
                                        <a href="">kalem</a>
                                    </div>
                                </div>
                                <div class="product__share-links share-links">
                                    <ul class="share-links__list">
                                        <li class="share-links__item share-links__item--type--like"><a href="">Like</a></li>
                                        <li class="share-links__item share-links__item--type--tweet"><a href="">Tweet</a></li>
                                        <li class="share-links__item share-links__item--type--pin"><a href="">Pin It</a></li>
                                        <li class="share-links__item share-links__item--type--counter"><a href="">4K</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-tabs  product-tabs--layout--sidebar  product-tabs--sticky">
                        <div class="product-tabs__list">
                            <div class="product-tabs__list-body">
                                <div class="product-tabs__list-container container">
                                    <a href="#tab-description" class="product-tabs__item product-tabs__item--active">Açıklama</a>
                                    <a href="#tab-specification" class="product-tabs__item">Özellikler</a>
                                    <a href="#tab-reviews" class="product-tabs__item">Değerlendirmeler</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-tabs__content">
                            <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                                <div class="typography">
                                    <h5>Ürün Detay</h5>
                                    <p>
                                        <%= devProducts.simpleDetail%>
                                    </p>
                                </div>
                            </div>
                            <div class="product-tabs__pane" id="tab-specification">
                                <div class="spec">
                                    <h3 class="spec__header">Specification</h3>
                                    <div class="spec__section">
                                        <h4 class="spec__section-title">General</h4>
                                        <div class="spec__row">
                                            <div class="spec__name">Material</div>
                                            <div class="spec__value">Aluminium, Plastic</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Engine Type</div>
                                            <div class="spec__value">Brushless</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Battery Voltage</div>
                                            <div class="spec__value">18 V</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Battery Type</div>
                                            <div class="spec__value">Li-lon</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Number of Speeds</div>
                                            <div class="spec__value">2</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Charge Time</div>
                                            <div class="spec__value">1.08 h</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Weight</div>
                                            <div class="spec__value">1.5 kg</div>
                                        </div>
                                    </div>
                                    <div class="spec__section">
                                        <h4 class="spec__section-title">Dimensions</h4>
                                        <div class="spec__row">
                                            <div class="spec__name">Length</div>
                                            <div class="spec__value">99 mm</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Width</div>
                                            <div class="spec__value">207 mm</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Height</div>
                                            <div class="spec__value">208 mm</div>
                                        </div>
                                    </div>
                                    <div class="spec__disclaimer">
                                        Information on technical characteristics, the delivery set, the country of manufacture and the appearance
                                        of the goods is for reference only and is based on the latest information available at the time of publication.
                                    </div>
                                </div>
                            </div>
                            <div class="product-tabs__pane" id="tab-reviews">
                                <div class="reviews-view">
                                    <div class="reviews-view__list">
                                        <h3 class="reviews-view__header">Customer Reviews</h3>
                                        <div class="reviews-list">
                                            <ol class="reviews-list__content">
                                                <li class="reviews-list__item">
                                                    <div class="review">
                                                        <div class="review__avatar"><img src="/images/avatars/avatar-1.jpg" alt=""></div>
                                                        <div class="review__content">
                                                            <div class="review__author">Samantha Smith</div>
                                                            <div class="review__rating">
                                                                <div class="rating">
                                                                    <div class="rating__body">
                                                                        <div class="rating__star rating__star--only-edge ">
                                                                            <div class="rating__fill">
                                                                                <div class="fake-svg-icon"></div>
                                                                            </div>
                                                                            <div class="rating__stroke">
                                                                                <div class="fake-svg-icon"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="review__text">Phasellus id mattis nulla. Mauris velit nisi, imperdiet vitae sodales in, maximus ut lectus. Vivamus commodo scelerisque lacus, at porttitor dui iaculis id. Curabitur imperdiet ultrices fermentum.</div>
                                                            <div class="review__date">27 May, 2018</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="reviews-list__item">
                                                    <div class="review">
                                                        <div class="review__avatar"><img src="/images/avatars/avatar-2.jpg" alt=""></div>
                                                        <div class="review__content">
                                                            <div class="review__author">Adam Taylor</div>
                                                            <div class="review__rating">
                                                                <div class="rating">
                                                                    <div class="rating__body">
                                                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                            <g class="rating__fill">
                                                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                                            </g>
                                                                            <g class="rating__stroke">
                                                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="review__text">Aenean non lorem nisl. Duis tempor sollicitudin orci, eget tincidunt ex semper sit amet. Nullam neque justo, sodales congue feugiat ac, facilisis a augue. Donec tempor sapien et fringilla facilisis. Nam maximus consectetur diam. Nulla ut ex mollis, volutpat tellus vitae, accumsan ligula.</div>
                                                            <div class="review__date">12 April, 2018</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="reviews-list__item">
                                                    <div class="review">
                                                        <div class="review__avatar"><img src="/images/avatars/avatar-3.jpg" alt=""></div>
                                                        <div class="review__content">
                                                            <div class="review__author">Helena Garcia</div>
                                                            <div class="review__rating">
                                                                <div class="rating">
                                                                    <div class="rating__body">
                                                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                                            <g class="rating__fill">
                                                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                                            </g>
                                                                            <g class="rating__stroke">
                                                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="review__text">Duis ac lectus scelerisque quam blandit egestas. Pellentesque hendrerit eros laoreet suscipit ultrices.</div>
                                                            <div class="review__date">2 January, 2018</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                            <div class="reviews-list__pagination">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item disabled">
                                                        <a class="page-link page-link--with-arrow" href="" aria-label="Previous">
                                                            <i class="fas fa-arrow-left"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="">1</a></li>
                                                    <li class="page-item active"><a class="page-link" href="">2 <span class="sr-only">(current)</span></a></li>
                                                    <li class="page-item"><a class="page-link" href="">3</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link page-link--with-arrow" href="" aria-label="Next">
                                                            <i class="fas fa-arrow-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="reviews-view__form">
                                        <h3 class="reviews-view__header">Write A Review</h3>
                                        <div class="row">
                                            <div class="col-12 col-lg-9 col-xl-8">
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="review-stars">Review Stars</label>
                                                        <select id="review-stars" class="form-control">
                                                            <option>5 Stars Rating</option>
                                                            <option>4 Stars Rating</option>
                                                            <option>3 Stars Rating</option>
                                                            <option>2 Stars Rating</option>
                                                            <option>1 Stars Rating</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="review-author">Your Name</label>
                                                        <input type="text" class="form-control" id="review-author" placeholder="Your Name">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="review-email">Email Address</label>
                                                        <input type="text" class="form-control" id="review-email" placeholder="Email Address">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="review-text">Your Review</label>
                                                    <textarea class="form-control" id="review-text" rows="6"></textarea>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <button type="submit" class="btn btn-primary btn-lg">Post Your Review</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
               
                 <!-- .block-products-carousel -->
           <div class="block block-products-carousel" data-layout="grid-4" data-mobile-grid-columns="2">
            <div class="container">
                <div class="block-header">
                    <h3 class="block-header__title">Süper Ürün , Hesaplı Ürün</h3>
                    <div class="block-header__divider"></div>
                    <ul class="block-header__groups-list">
                        <li><button type="button" class="block-header__group  block-header__group--active ">Hepsi</button></li>
                        <li><button type="button" class="block-header__group ">Kırtasiye</button></li>
                        <li><button type="button" class="block-header__group ">Oyuncak</button></li>
                        <li><button type="button" class="block-header__group ">Mutfak</button></li>
                    </ul>
                    <div class="block-header__arrows-list">
                        <button class="block-header__arrow block-header__arrow--left" type="button">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button class="block-header__arrow block-header__arrow--right" type="button">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="block-products-carousel__slider" style="border-radius: 0.5rem;">
                    <div class="block-products-carousel__preloader"></div>
                    <div class="owl-carousel">
                        <% for (let product of productss) { %>
                        <div class="block-products-carousel__column">
                            <div class="block-products-carousel__cell">
                                <div class="product-card product-card--hidden-actions" style="border-radius: 0.5rem;">
                                    <button class="product-card__quickview" type="button">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="/images/sprite.svg#quickview-16"></use>
                                        </svg>
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__badges-list">
                                        <div class="product-card__badge product-card__badge--new">Yeni</div>
                                    </div>
                                    <div class="product-card__image product-image">
                                        <a href="/<%= product.slug %>" class="product-image__body">
                                            <img class="product-image__img" src="<%= product.picture1Path %>">
                                        </a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name">
                                            <a href="/"><%= product.label %></a>
                                        </div>
                                        <div class="product-card__rating">
                                            <div class="product-card__rating-stars">
                                                <div class="rating">
                                                    <div class="rating__body">
                                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                            <g class="rating__fill">
                                                                <use xlink:href="/images/sprite.svg#star-normal"></use>
                                                            </g>
                                                            <g class="rating__stroke">
                                                                <use xlink:href="/images/sprite.svg#star-normal-stroke"></use>
                                                            </g>
                                                        </svg>
                                                        <div class="rating__star rating__star--only-edge ">
                                                            <div class="rating__fill">
                                                                <div class="fake-svg-icon"></div>
                                                            </div>
                                                            <div class="rating__stroke">
                                                                <div class="fake-svg-icon"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-card__rating-legend"><%= product.price3 %></div>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">
                                            Availability: <span class="text-success">In Stock</span>
                                        </div>
                                        <div class="product-card__prices">
                                            <%= product.price3 %> <%= product.currency %>
                                        </div>
                                        <div class="product-card__buttons">
                                            <form action="/sepetim" method="POST">
                                                <input  type="hidden" value="<%= csrfToken %>" name="_csrf">
                                                <input  type="hidden" name="productId" value="<%= product._id %>">    
                                                <button type="submit" class="btn btn-primary product-card__addtocart">Sepete Ekle</button>
                                            </form>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="/images/sprite.svg#wishlist-16"></use>
                                                </svg>
                                                <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                            </button>
                                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="/images/sprite.svg#compare-16"></use>
                                                </svg>
                                                <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
             </div>
        <!-- .block-products-carousel / end -->
            </div>
         
        </div>
    </div>
</div>